.file-explorer {
  padding: 20px;
}

.directories, .files {
  margin-top: 10px;
}

.directory, .file {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 3px;
}

.directory:hover, .file:hover {
  background-color: #f0f0f0;
}
.gutter {
  background-color: white;
  cursor: col-resize;
    width: 2px;
    margin: 0 5px;

}

.gutter-horizontal {
  
  width: 1px;
  margin: 0 5px;
}
.gutter:hover {
  background-color: grey;
  cursor: col-resize;

}